.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  /* Although by default flexbox uses a flex-direction of row.  I explicitly included it here for preference*/
  flex-direction: row;
  margin-bottom: 5px;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border: 1px solid white;
  margin-right: 5px;
}